.navbar-container{
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 64px;
    background-color: $bgwhite;
    border-bottom: 1px solid $lightgrey;
}

// Logo
.box-left{
    display: flex;
    flex-grow: 100;
    align-items: center;
    height: 100%;
    padding: 0px 23px;
    border-right: 1px solid $lightgrey;
}
.navbar-logo a{
    text-decoration: none;
    font: 500 24px 'Tiempos Headline', serif; // style variant weight size line-height font
    color: $black;
    .period{
        color: $green;
    }
}

.box-right{
    display: flex;
    flex-basis: auto;
    z-index: 102;
    align-items: center;
    height: 100%;
    padding: 0px 23px;
    cursor: pointer;

    // Menu Word
    .menu-toggle-word{
        font-size: 13px;
        font-weight: 600;
        color: $black;
        width: 40px;
        margin-right: 10px;
        transition: all ease .3s;
        user-select: none;
        .CLOSE{
            display: none;
        }
    }

    // Hamburger menu & toggle
    .menu-toggle-icon{ // clickable area
        flex: 0 0 auto; // flex-grow, flex-shrink, flex-basis
        order: 1;
        width: 15px;
        height: 12px;
        position: relative;
        .hamburger, .cross{
            position: absolute;
            top: 50%; // 50% down by top-left corner
            left: 50%; // 50% right by top-right corner
            transform: translate(-50%,-50%); // up and left 50% of itself
        }

        .hamburger div{
            display: block; // unlike inline, block starts a new line and takes up the whole width
            position: relative;
            width: 15px; // invisible container
            height: 2px;
            border-radius: 2px;
            margin-bottom: 2px;
            overflow: hidden; // there are technically two menu sliding left & right out of and into the container
            &:last-child{
                float: right;
                width: 10px;
                margin-bottom: 0px;
            }
            &:before,&:after{ // create 2 hamburger icons (before/after)
                content: "";
                position: absolute;
                width: 100%;
                height: 100%;
                border-radius: 2px;
            }
            &:before{
                background-color: $black;
                transition: transform ease .3s;
            }
            &:nth-child(2):before{
                transition-delay: 75ms;
            }
            &:last-child:before{
                transition-delay: 200ms;
            }
            &:after{
                background-color: $grey;
                transition: transform ease .3s;
                transform: translateX(100%);
            }
            &:nth-child(2):after{
                transition-delay: 75ms;
            }
            &:last-child:after{
                transition-delay: 200ms;
            }
        }
        .cross div{
            display: block;
            width: 15px;
            height: 2px;
            border-radius: 1px;
            background-color: $black;
            &:first-child{
                transform: translateY(50%) rotate(45deg) scaleX(0);
            }
            &:last-child{
                transform: translateY(-50%) rotate(-45deg) scaleX(0);
            }
        }
    }

    // Hover state
    &:hover{
        .menu-toggle-icon{
            .hamburger div{
                &:after{
                    transform: translateX(0);
                }
            }
            .cross div{
                background-color: $grey;
                transition: background-color ease .3s;
            }
        }
        .menu-toggle-word{
            color: $grey;
            transition: color ease .3s;
        }
    }

    // Active state
    &.active{
        .menu-toggle-icon{
            .hamburger div{
                &:before, &:after{
                    transform: translateX(101%); // subpixel render > bleeding edge
                    transition: none;
                }
            }
            .cross div{
                &:first-child{
                    transform: translateY(50%) rotate(45deg) scaleX(1);
                }
                &:last-child{
                    transform: translateY(-50%) rotate(-45deg) scaleX(1);
                }
                transition: all ease .3s;
            }
        }

        .menu-toggle-word{
            .MENU{
                display: none;
            }
            .CLOSE{
                display: block;
            }
        }
    }
}

// nav menu
.side-nav{
    position: fixed; // position related to the browser winder
    z-index: 101;
    height: 100%;
    width: 320px;
    top: 0;
    right: 0;
    transform: translateX(101%);
    transition: transform ease .3s;
    background: $bgwhite;
    display: flex;
    flex-direction: column;
    padding-top: 64px;
    a{
        padding: 24px 36px;
        text-decoration: none;
        color: $black;
        font-weight: 700;
        border-bottom: 1px solid $lightgrey;
        &:first-child{
            border-top: 1px solid $lightgrey;
        }
    }
    &.active{
        transform: translateX(0%);
        transition: transform ease .3s;
    }
}

.nav-overlay{
    visibility: hidden;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: $black;
    opacity: 0;
    transition: visibility ease .3s, opacity ease .3s;
    &.active{
        visibility: visible;
        opacity: 0.75;
        transition: opacity ease .3s;
    }
}